venv/
.env/
*.pyc
__pycache__/

# Jupyter and VS Code settings
.ipynb_checkpoints/
.vscode/
output/OD_Matrix_TLC_by_Tract.csv
output/OD_Matrix_LODES_by_Tract.csv
output/nyc_census_tract_demographics.csv